name: update_iplists_cloudflare_v4

on:
  schedule:
    - cron: "0 07 * * *"  # 07:00 UTC
  workflow_dispatch:
    inputs:
      dryRun:
        description: Dry Run
        type: boolean
        default: false
        required: true
      logLevel:
        description: Log Level
        type: choice
        default: debug
        options:
          - debug
          - info
        required: true

permissions:
  contents: write

jobs:
  cloudflare-v4:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - run: |
          python -m pip install --upgrade pip
          pip install -r mikrotik-lists/requirements.txt
      - run: python mikrotik-lists/cloudflare/cloudflare_ips.py --ipv4
      - run: |
          #!/bin/bash
          NOW=$(TZ="Europe/Berlin" date +"%m-%d-%Y %H:%M:%S %Z")

          git config --local user.email "noreply@github.actions.bot"
          git config --local user.name "GitHub Actions"
          git add mikrotik-lists/cloudflare/cloudflare-ips-v4.rsc
          git diff --cached --exit-code || git commit -m "Run automations and generate fresh Cloudflare IPv4 list - $NOW"
      - uses: ad-m/github-push-action@v1.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
