name: update_iplists_google_v6

on:
  schedule:
    - cron: "30 08 * * *" # 08:30 UTC
  workflow_dispatch:
    inputs:
      dryRun:
        description: Dry Run
        type: boolean
        default: false
        required: true
      logLevel:
        description: Log Level
        type: choice
        default: debug
        options:
          - debug
          - info
        required: true

permissions:
  contents: write

jobs:
  google-v6:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - run: |
          python -m pip install --upgrade pip
          pip install -r mikrotik-lists/requirements.txt
      - run: python mikrotik-lists/google/google_ips.py --ipv6
      - run: |
          #!/bin/bash
          NOW=$(TZ="Europe/Berlin" date +"%m-%d-%Y %H:%M:%S %Z")
          
          git config --local user.email "noreply@github.actions.bot"
          git config --local user.name "GitHub Actions"
          git add mikrotik-lists/google/google-ips-v6.rsc
          git diff --cached --exit-code || git commit -m "Run automations and generate fresh Google IPv6 list - $NOW"
      - uses: ad-m/github-push-action@v1.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
